$text-color: #353535;
$body-bg: #fff;
$selection-bg: #294566;

$accent: #294566;
$accent-light: #8fb6c0;
$grey: #5d5d5d;
$grey-light: #f1f3f4;

$secondary: #dcd8cf;
// $beige-2: #dcd8cf;
// $beige-3: #f5f5f5;
// $beige-4: #dcd8cf;

// ------------------------------- //

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #4c4c4c;
$color__text-input: #fff;
$color__text-main: #002e43;

$color__border-input: #ccc;
$color__border-abbr: #666;
