@use "../abstracts/mixins/mixins" as *;

.wp-block-image {
  .alignright {
    margin-left: 2.5em;
    margin-bottom: 2em;
  }
  .alignleft {
    margin-right: 2.5em;
    margin-bottom: 2em;
  }
}

.aligncenter {
  clear: both;

  @include center-block;

  margin-bottom: 1.5em;
}
