@use "../../abstracts/variables/typography" as *;
@use "../../abstracts/variables/colors" as *;

a {
  color: $accent;
  // font-weight: 400;

  // &:visited {
  // 	color: $accent;
  // }

  &:hover,
  &:focus,
  &:active {
    // color: $accent;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    outline: 0;
    text-decoration: underline;
  }
}

.link {
  color: $accent;
  text-decoration: none;
  cursor: pointer;
}
