@use "../../abstracts/variables/colors" as *;

.footer {
  padding-bottom: 45px;
  padding-top: 75px;
  text-align: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url(img/footer-icon.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__logo {
    width: 200px;
  }

  .social {
    display: flex;
    gap: 10px;
    @media (max-width: 830px) {
      margin-top: 10px;
      justify-content: center;
      align-items: center;
    }
    a {
      text-decoration: none;
      fill: $secondary;
      transition: 0.3s;
      &:hover {
        fill: $accent;
      }
    }
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  a {
    &[href^="tel"] {
      font-size: 1.3rem;
      @media screen and (max-width: 740px) {
        font-size: 1.8rem;
      }
    }
  }
}

.copyright {
  padding-bottom: 30px;

  span {
    font-size: 0.8rem;
    line-height: 1;
  }

  @media screen and (max-width: 740px) {
    a {
      display: block;
    }
  }
}
